html {
    height: 100%;
}

header {
    margin-bottom: 1rem;
}

/* body {
    background-image: linear-gradient( rgba(255,0,0,0) 25%, rgb(162, 162, 162));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    
} */

body.container {
    width: 80%;
}

#column-input div {
    /* border: 1pt solid black; */
    background-color: rgb(213, 213, 213);
    padding-bottom: 5px;
    border-radius: 5px;
}
#column-input div:nth-child(2) {
    background-color: rgb(213, 213, 213);
    border: 1pt solid black;
}

body #build-table-btn{
    margin-top: 1rem;
}

body #multi-table {
    background-color: white;
    margin: auto;
    max-height: 500px;
}

#table-div {
    max-height: 500px;
    border: 1pt solid gray;
    margin-top: 1rem;
    padding: 2px;
}

